---
import {db, Todo} from 'astro:db';
const todos = await db.select().from(Todo);
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro DB Demo</h1>
		<ul>
			{
				todos.map((todo) => (
					<li>
						<form action={`/api/todo/${todo.id}`} method="POST">
							<input type="checkbox" name="finish" id="" checked={todo.finish}>
							{todo.title}
							<a href={`/api/todo/${todo.id}`}>Delete</a>
						</form>
					</li>
				))
			}
		</ul>
		<hr>
		<form action="/api/todo" method="POST">
			<label for="">
				ToDo:
				<input type="text" name="title" />
			</label>
			<button type="submit">Add</button>
		</form>

		<script>
			const updateTriggers = document.querySelectorAll("input[type='checkbox']")
			updateTriggers.forEach(trigger => {
				trigger.addEventListener('change', (e) => {
					const currentTarget = e.currentTarget as HTMLInputElement
					const targetForm = currentTarget.parentElement as HTMLFormElement
					targetForm.submit()
				})
			})
			</script>
	</body>
</html>
